* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #373d3f;
    padding-top: 80px;
    letter-spacing: 1px;
}

body.modal-open {
    overflow: auto;
}

body.modal-open[style] {
    padding-right: 0px !important;
}

.modal::-webkit-scrollbar {
    width: 0 !important;
}

hr {
    color: #bcbbbb;
    background-color: #bcbbbb;
    height: 2px;
    margin-bottom: 25px;
}

a {
    outline: 0;
}

h4,
h5 {
    font-weight: bold;
    letter-spacing: 2px;
}

.footer h4,
.footer h5 {
    font-weight: lighter;
    letter-spacing: 1px;
}

a:active,
a:focus {
    outline: none;
    -moz-outline-style: none;
}

a:visited,
a:link,
a:active {
    text-decoration: none;
}

a.underline {
    text-decoration: underline;
}

a,
.btn-default {
    color: inherit;
    min-height: 30px;
    min-width: 30px;
}

.btn-default {
    font-size: 1.2em;
    border-radius: 0;
    border: none;
}

a:hover {
    color: #2E5F86;
}

.about {
    max-width: 550px;
    margin: 30px auto 0 auto;
}

.about p {
    font-size: 14px;
    text-align: justify;
    line-height: 20px;
}

.nav-bar-title {
    margin-top: 10px;
    margin-left: 15px;
}

.nav-bar-title h4 {
    font-size: 1em;
}

.anchor {
    height: 130px;
}

.parallax-image {
    background: url(../images/testing-large.jpg) 75% 0 no-repeat fixed;
    min-height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    opacity: 0.5;
    z-index: -1;
}

.modal-dialog {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 4%;
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    background-color: #F8F8F8;
    position: relative;
}

.modal-header,
.modal-body {
    padding: 3% 5%;
}

.modal-header .btn-default {
    background-color: #F8F8F8;
    position: absolute;
    top: 0;
    right: 0;
}

.modal-backdrop {
    background-color: black;
    opacity: 0.9 !important;
}

.modal-body h5 {
    margin-top: 30px;
}

.modal-body p {
    font-size: 13px;
    text-align: justify;
}

.modal-body a {
    margin-bottom: 20px;
    text-align: center;
    display: block;
}

.img-modal {
    margin: 3% auto;
    opacity: 0.85;
}

.img-project1 {
    width: 49%;
    display: inline;
}

.clear-float {
    clear: both;
}

.feature-work {
    font-size: 25px;
    margin-bottom: 15px;
}

.sticky-parallax {
    position: fixed;
    min-height: 125px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
    margin-bottom: -125px;
}

.home-scrolled {
    top: -560px !important;
    z-index: 15 !important;
}

.testing {
    background: url(../images/skyline_1x.jpg) 50% 0 no-repeat fixed;
    min-height: 573px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.restrict-size {
    max-width: 1240px;
    padding-right: 5%;
    padding-left: 5%;
}

.main {
    padding-top: 130px;
}

.white {
    background: white;
    margin-top: 350px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.nav-container {
    height: 80px;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    z-index: 4;
    width: 100%;
    padding-top: 16px;
    margin-bottom: -80px;
}

.sticky-container {
    padding-bottom: 15px;
    height: 135px;
    z-index: 1;
}

.sticky-container h1,
.sticky-container h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-wrapper {
    height: 135px;
}

.pull-left h1 {
    font-size: 35px;
}

.nav-link {
    padding: 1em;
}

.nav-link:last-child {
    padding-right: 0;
}

.fa.social-icon {
    color: #373d3f;
    margin-left: 1.1em;
    font-size: 1.3em;
}

.fa.social-icon:hover {
    color: #2E5F86;
}

.fluid-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.box {
    width: 100%;
}

.title-super {
    font-size: 50px;
    letter-spacing: 4px;
}

.title-medium {
    font-size: 2em;
    margin-bottom: 0;
    color: #373d3f;
}

.img-project {
    cursor: pointer;
    /*    opacity: 0.85;
*/
    -webkit-transition: opacity 0.4s;
    /* Safari */
    transition: opacity 0.4s;
}

.img-project:hover {
    opacity: 0.65;
}

.text-muted {
    color: #969595;
}

.title-logo {
    -webkit-transition-property: max-width;
    /* Safari */
    -webkit-transition-duration: 0.3s;
    /* Safari */
    transition-property: max-width;
    transition-duration: 0.3s;
    margin-top: 10px;
    max-width: 120px;
    border-radius: 50%;
}

.footer {
    margin: 100px auto 30px auto;
    max-width: 300px;
}

.text-pump {
    font-size: 1.1em;
}

.github-link {
    margin-top: 9px;
}

.other .box-photo {
    width: 50%;
}

.other .box-project {
    width: 50%;
    padding-top: 1.5em;
}

.other .fluid-container {
    margin-bottom: 1.5em;
}

.other.work {
    margin-top: 2.3rem;
}

@media screen and (max-width: 550px) {
    .other .box-photo {
        width: 100%;
    }
    .other .box-project {
        width: 100%;
    }
    .title-medium {
        font-size: 22px;
    }
    .feature-work {
        font-size: 23px;
    }
    .photo-caption {
        font-size: 0.8em;
    }
    .modal-title {
        font-size: 1.2em;
    }
    .text-pump {
        font-size: 0.8em;
    }
    .title-logo {
        margin-top: 0.8em;
    }
    .nav-link {
        padding: .7em;
    }
    .nav-container {
        padding-top: 4%;
        font-size: 1em;
    }
    .nav-bar-title {
        margin-left: 0;
    }
    .nav-bar-title {
        text-align: left;
    }
    .sticky-container h1 {
        clear: left;
        padding-top: 10px;
    }
    .fa.social-icon {
        margin-left: 0;
        margin-right: 1.4em;
    }
    .footer .social-icon {
        margin-left: 0.4em;
        margin-right: 0.4em;
    }
    .modal-dialog h5 {
        font-size: 13px;
    }
    .modal-dialog h4 {
        font-size: 1.1em;
    }
    .modal-body p {
        font-size: 12px;
    }
    .modal-body a {
        font-size: 10px;
    }
}

@media screen and (min-width: 768px) {
    .white-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 135px;
        background-color: white;
        z-index: 1;
    }
    .sticky-container-scrolled {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 1240px;
        padding-right: 5%;
        padding-left: 5%;
        z-index: 3;
    }
    .sticky-container-scrolled img {
        max-width: 110px;
        opacity: 0.9;
    }
}

@media screen and (max-width: 767px) {
    h3 {
        margin-top: 0.1em;
    }
    .nav-bar-title {
        float: none !important;
    }
    .img-project,
    .title-logo {
        margin: 0 auto;
    }
    .img-project {
        max-width: 80%;
        margin-bottom: 8px;
    }
    .fluid-container {
        margin-bottom: 2em;
    }
    #work,
    #feature-work {
        background-color: white;
    }
    #about {
        margin-top: 0;
    }
    .main {
        padding-top: 80px;
    }
    .title-super {
        font-size: 35px;
    }
    .feature-work {
        margin-bottom: 0.9em;
    }
    .title-logo {
        margin-top: 0.8em;
    }
    .parallax-image {
        display: none;
    }
    header {
        position: relative;
        height: 530px;
    }
    .mobile-jumbotron {
        position: absolute;
        width: 100%;
        background: url(../images/testing-large.jpg) 75% 0 no-repeat;
        opacity: 0.55;
        top: -25px;
        height: 610px;
    }
    .nav-container {
        background-color: #E6EBF0;
        opacity: 0.85;
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
        height: 55px
    }
    .nav-wrapper {
        padding-top: 20px;
    }
    .anchor {
        height: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width: 945px) {
    .sticky-container-scrolled img {
        max-width: 90px;
    }
    .nav-bar-title {
        margin-left: 9px;
    }
    .pull-left h1 {
        font-size: 21px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .box-photo {
        width: 50%;
    }
    .box-project {
        width: 50%;
        padding-top: 1.5em;
    }
    .title-super {
        font-size: 49px;
    }
    .fluid-container {
        margin-bottom: 1.5em;
    }
    .img-project {
        margin: 0 auto;
    }
}